/* Estilização do HEADER */
header{
    width: 100%;
    background-color: #ffb90f;
    height: 10%;
    margin-top: 60px;
    position: relative;
}

header nav img{
    height: 200px;
    width: 200px;
    position:  absolute;
    top: -65px;
}

header nav ul {
    list-style: none;
    height: 60px;
    margin-left: 160px;
    
}
header nav ul li{
    display: inline-block;
    color: antiquewhite;
    padding: 15px 0px 0px 50px;
    font-size: 20px;
    font-weight: bold;
}