<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

  <main class="container">
    <section class="mt-3" id="cards">
      <h1>Exemplares</h1>
      <p>Confira abaixo os exemplares do nosso catálogo de filmes exclusivos</p>
    </section>
  </main>

  <%- include('./partials/footer'); %>
  </body>
</html>